<a href="https://colab.research.google.com/github/MaxwellBastos/Classificador_de_Vinhos/blob/main/Classificador_de_vinhos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classificador de Vinhos
Para além do desafio "Titanic", esse é um ótimo projeto para quem está iniciando no mundo de Data Science e Machine Learning. Trata-se de um dataset de vinhos no qual vamos explorar com o intuito de elaborar um modelo de Machine Learning capaz de classificar a bebida com base em suas características, tendo como missão final classificar se o vinho é tinto ou branco.

In [22]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier 

df = pd.read_csv("/wine_dataset.csv")

In [4]:
#Exibindo os cinco primeiros resultados.
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [20]:
df.shape

(6497, 13)

In [21]:
df.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'style'],
      dtype='object')

In [6]:
df.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
style                    object
dtype: object

In [7]:
#Verificando se possui valores faltantes;
df.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
style                   0
dtype: int64

Agora vamos substituir as strings (red e white) na coluna "Style" para valores numéricos, a única linguagem que o algoritmo entende:

In [8]:
# 0 para vermelho e 1 para branco;
df['style'] = df['style'].replace('red', 0)
df['style'] = df['style'].replace('white', 1)

y = df['style']
x = df.drop('style', axis = 1)

In [9]:
x_treino , x_teste, y_treino, y_teste = train_test_split(x, y, test_size= 0.3)

In [10]:
x_teste.shape

(1950, 12)

In [11]:
x.shape

(6497, 12)

O "ExtraTreesClassifier" também da biblioteca sklearn, é uma classe que implementa um meta estimador que ajusta um número de árvores de decisão aleatórias em várias subamostras do conjunto de dados e usa a média para melhorar a precisão preditiva e controlar o ajuste excessivo.

In [12]:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier()

In [13]:
y_teste[0:6]

74      0
1867    1
2462    1
2144    1
4402    1
5323    1
Name: style, dtype: int64

In [14]:
previsoes = modelo.predict(x_teste[0:10])
previsoes

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [15]:
final = modelo.score(x_teste, y_teste)
print('Resultado', final)

Resultado 0.9948717948717949

Um resultado de 99% de acurácia. É importante ressaltar que lidamos com um volume de dados simples e higienizados, no qual não possui valores faltantes e fins. 

Isso significa que se conseguirmos uma porcentagem alta no acerto da acurácia, podemos ficar mais confiantes no que tange o resultado, a verdade é que quanto mais complexo e "sujo" o volume de dados, menor é a probabilidade de acertos, e ainda mesmo tendo uma nível alto de acurácia, precisamos desconfiar. Uma vez, aconselhado por um experiente data scientist, que quando se trata de dados devemos ter uma postura cética e imparcial para uma maior precisão no objetivo desejado.